.login{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
   width: 100%;
   background-color:#f6f6f6;
   color:red;      
}
b{
  color: black;



 
}
.login-logo img{
   width: 60px;
   height: 60px;
   position:absolute;
		left:0%;
		top:0%;
}
.login-right{
background-color:white;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
margin-left:50px;
padding: 90px;
width: 500px;
height: 500px;

}




.login-right h1{
   font-family: 'Alata', sans-serif;
   color: #bb0f20;
font-size: 47px;
margin-bottom: 60px;
}


.login-loginInputEmail{
   display: flex;
   align-items: center;
   color: gray;
   border: 2px solid gainsboro;
   width: 300px;
   height: 30px;
   font-size: medium;
   padding-left: 10px;
   border-radius: 30px;
 margin-top:  5px;
 
  
}
.login-loginInputEmail svg{
margin-left: 10px;
font-size: 30px;
}
.login-loginInputEmail input{
   background: white;
   width: 100%;
   outline-width: 0;
   color:black;
   border: none;
   height: 20px;
   font-size: 17px;
   margin-left: 10px;
   margin-right: 10px;


}
.login-loginInputPassword{

   display: flex;
   align-items: center;
   color: gray;
   border: 2px solid gainsboro;
   width: 300px;
   height: 30px;
   font-size: medium;
   padding-left: 10px;
   border-radius: 30px;
   margin-top: 20px;

 
}
.login-loginInputPassword input{
   background: transparent;
   width: 100%;
   outline-width: 0;
   color:black;
   border: none;
   font-size: 17px;
   margin-left: 10px;
   margin-right: 10px;

}
.login-loginInputPassword svg{
   margin-left: 10px;
   font-size: 30px;
   }

   .login-right button{
      width: 70%;
background-color:#dc3545	;
color:white;
font-weight: 600px;
height: 36px;
border-radius: 60px;
font-size: 19px;
outline-width: none;
display: block;
border-color: #dc3545;
margin-top: 50px;
   }
   .login-right button :hover{

      background-color:white;
      color:white;
      cursor: pointer;
   }
   

   
   
   