h1{
   color:#bb0f20;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   padding-bottom: 70px;
   padding-top: 200px;

  

}


.projetos {
   width: 100% !important;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 1.8rem;
}

.tabela {
   width: 100% !important;
   
}

th, td{
   border: 1px solid#767677;
   border-radius: 4px;
   border-collapse: collapse;
   padding: 0px 4px;
   text-align: center;
   height: 1.8rem;
}
.olho{
   cursor: pointer;
}
  




