* {
   font-family: 'Inter';
}
h1{

   color:#bb0f20;
  
}

.cadastro{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:#f0f0f0;
   color:rgb(153, 131, 131);
   margin:20px;
   gap: 20px;
   padding: 10px;
}

.area_inputs {
   width: 50%;
   font-size: medium;
   padding-left: 10px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 9px;
}


.line_inputs{
   background-color:transparent;
   width: 82%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.input_group {
   width: 200px;
   height: 48px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 9px;
}

.buttons_actions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 11px;
}

.success {
   color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
   width: 100px;
   margin-top: -52px;
   margin-left: 80px;
   color: #fff;
   padding: 10px;
   border-radius: 4px;
   border:none;
}

.success:hover {
   background-color: #d42032;
   transition: background-color 0.4s;
   cursor: pointer;
}

.info {
   color: #fff;
    background-color: #007bff;
    border-color: #007bff;
   width: 165px;
   border: none;
   padding: 10px;
   border-radius: 4px;
   margin-top: 100px ;
   margin-left: -140px;
}

.info:hover {
   background-color: #170f47;
   transition: background-color 0.2s;
   cursor: pointer;
}
input{
   
   width: 220px;
   height: 220px;
   border: 1px solid #ebe;
    border-radius: 8px;
}
select{
   width: 200px;
   height: 200px;
   border: 1px solid #ebe;
   border-radius: 8px;

}
.copyright{
   width: 100%;
   padding: 8px 100px;

   text-align: center;
   
}