.header_page_login{
   background: #1B134A;   
   padding: 20px;
   z-index: 0;
   position:absolute;
   width: 1383px;
   height:50px;
}

.logo_img{
   width: 3.3rem;
   height: 3.3rem;
   margin: 4px 10px;
}

.ini{
   margin-left: 80px;
   margin-top: -43px;
   font-family: 'Fira Sans', sans-serif;
   font-size: 18px;
   list-style: none;
   cursor: pointer;
}
 
.icon{
   background-color:transparent;
   margin-left: 50px;
   margin: 10px 55px;
   margin-top: -35px ;
   font-size: 18px;
   cursor: pointer;
   display: inline-block;
   vertical-align: middle; 
}
 
.btn{
   margin-left: 1035px;
   background-color:#dc3545	;
   color:white;
   height: 50px;
   width: 330px;
   font-size: 17px;
   display: block;
   margin-top: -63px;
   border-radius: 8px;
}

.btn:hover{
   cursor: pointer;
}

.icon_user{
   font-size: 30px;
   margin-top: -8px;
   display: inline-block;
   vertical-align: middle;
}

.modal_close{
   display: none !important;
}

.modal{
  
   background-color:rgba(0, 0, 0, 0.521);
   position: absolute;
   animation: animate;
   animation-duration: 700ms;
   top: 0px !important;
   left: 0px !important;
   bottom: 0px !important;
   height: 100%;
   width: 100%;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

.body_modal {
   background: #1B134A;
   width: 50vw;
   height: 50vh;
}

@keyframes animate{
   from{opacity: 1;}
   from{opacity: 0;}
}

.btn_fechar{
   width: 30px;
   height: 30px;
   background-color:transparent;
   float: right;
   cursor: pointer;
   color: white;
   font-size: larger;
   border: none;
}

.email_senha{
   margin-left: 212px;
   margin-top: -140px;
   width: 280px;
   font-size: 20px;
   display: block;
   border-radius: 8px;
   color: white;
   background-color:#dc3545 ;
   height: 35px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.alter_dados{
   margin-left: 212px;
   width: 280px;
   font-size: 20px;
   display: block;
   border-radius: 8px;
   color: white;
   background-color:#dc3545 ;
   height: 35px;
   cursor: pointer;
   margin-top: 10px;
}

.linha{
   margin-top: 108px;

}

.sair_plat{
   font-size: 21px;
   display: block;
   border-radius: 8px;
   margin-top: 13px;
   margin-left: 212px;
   height: 35px;
   width: 280px;
   background-color: #dc3545;
   color: white;
   cursor: pointer;
}