.cadastro{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  background: white;
   margin-top:0px;
   gap: 20px;
   padding: 10px;
}
.area_inputs {
   width: 50%;
   font-size: medium;
   padding-left: 10px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 9px;
}
.line_inputs{
   background-color:transparent;
   width: 80%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.input_group {
   width: 260px;
   height: 50px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 9px;
}



.success {
   height: 45px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 100px;
    margin-top: -52px;
    margin-left: -32px;
    padding: 11px;
    border:none;
   font-size: medium;
}


input{
   
   border: 2px solid #ecebea;
   border-radius: 8px;
 
}

.Emaill input {
    width: 600px;
   height: 22px;
   padding: 5px;
   margin-left: 6px;
}
.icone{
   font-size: 20px;
   display: inline-block;
   vertical-align: middle;
   margin-top: -4px;
  
  
}
.senhaa input{
   width: 230px;
   height: 22px;
   padding: 5px;


}
.conf_senha input{
   width: 330px;
   height: 22px;
   padding: 5px;
   
}


.title{
  margin-top: 20px;
  padding: 100px;
}