.footer_page{
   display: flex;
   background: #1B134A;
   padding: 0px;
   font-weight: bold;
   color: azure;
}

.row_footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: 20px;
}

.block {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   margin-left: 50px;
   margin-top: -210px;
}

.title_project{
   word-wrap: break-word;
   font-size: 1.4rem;
   font-weight: bold;
   padding: 8px;
   text-align: center;
}

.list_footer {
   list-style: none;
   padding-top: 16px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 22px;
   flex-direction: column;
   width: 100%;
}

a{
   color: darkgoldenrod;
   text-decoration: under;
   
}
.ctts{
   margin-top: 4px;
}
.nome_canais{
   margin-top: -100px;
}
.copyright{
   width:100vw ;
   padding:200px 0;
   text-align: center;
  margin-top: 150px;
  margin-left: -1350px;
}
.logo_immg{
width: 100px;
}